{% extends 'base.html' %}


{%  block breadcrumb %}
     <ol class="breadcrumb">
        <li ><a href="{%  url 'almacen:index' %}">Inicio</a></li>
        <li class="active"><a href="{%   url 'productos:index' %}">Productos</a></li>
        <li >Listar Productos</li>
    </ol>
{% endblock %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class=" contenedor-lista">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="">LISTADO DE PRODUCTOS</span>
                <a class ="pull-right btn btn-danger  "
                   href="{% url 'productos:index' %}">Volver
                </a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped ">
                        {% load static from staticfiles %}
                        <thead>
                            <tr  align="center">
                                <td width="5%">Código</td>
                                <td width="15%">SAP</td>
                                <td width="30%">Descripción</td>
                                <td width="20%">Categoría</td>
                                <td width="30%">Operaciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in object_list %}
                            <tr valign="middle" class="{{forloop.counter|divisibleby:2|yesno:'even,odd'}}">
                                <td align="center">{{ producto.codigo }}</td>
                                <td align="center">{{ producto.sap }}</td>
                                <td align="center">{{ producto.descripcion }}</td>
                                <td align="center">{{ producto.stock_minimo }}</td>
                                <td align="center">
                                    <a href="{% url 'productos:Editar_Producto' producto.codigo %}"
                                       class="btn btn-info">
                                        Editar
                                    </a>
                                    <a href="{% url 'productos:Eliminar_Producto' producto.codigo %}"
                                       data-toggle="modal" data-target="#delete-modal"
                                       class="btn btn-danger btn-delete">
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delete-modal">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>


    </div>
{% endblock %}