{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                <div id="form">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="form-group">
                        <div class="form-field col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
                            <input  class ="col-xs-12 btn btn-success btn-lg" type="submit" value="Registrar Producto" />
                        </div>
                    </div>
                </div>
            <form>
        </div>
        <a class="col-sm-offset-0 col-xs-offset-4 backbutton" href="{% url 'productos:index' %}">
            <span class="  glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
    </div>

{% endblock %}
