html {
  position: relative;

  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    background: #f5f5f5;
    margin-bottom: 60px;
    padding: 80px 0;
}
.footer {
    padding: 20px;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color:white;
  /* Set the fixed height of the footer here */
    background-color: #249fee;
}
.login-input{
    width:66.66666667%;
    float:left;
    margin-bottom: 10px;
}

.login-container{
    padding: 10% 15px 6% 15px
}

.logo {
    display: inline-block;
    vertical-align: middle;

}

.login-container .row{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center
}

.navbar-logo{
    max-width: 120px;

}

