<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {% load static from staticfiles %}
    <link href="{% static 'css/normalize.css' %}"/>
    <link href= "{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/estilos.css" %}" rel="stylesheet">
    <title>Teletak</title>
</head>
<body>


<div class="container login-container">

    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 hidden-xs logo">
            <img  class="img-responsive" src="{% static 'img/logo.png' %}" alt="logo teletak"/>
        </div>
        <div class="login col-xs-offset-1 col-lg-6 col-sm-7 col-xs-10 ">
            <h1>Login</h1>
            <p class="lead"></p>
            <form class="form" role="form"  method="post">{% csrf_token%}
                <div class="form-group ">
                    {{ form.username.errors }}
                     <label   for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>

                <div class="form-group ">
                    {{ form.password.errors }}
                     <label  for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>

                    {{ form.password }}
                </div>
                 <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-success col-xs-12" value="Ingresar" id="guardar">
                    </input>

                 </div>
            </form>
        </div>

    </div>


</div>

<footer class="footer">
    <div class="container">
        <div class="row">
                <p class="text-center">2015  © Teletak</p>
        </div>

    </div>
</footer>





<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-!-->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>




