{% extends 'base.html' %}

{%  block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">Inicio</li>
    </ol>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="contenedor-modulos">
        <div class="row">
            <a href="{% url 'almacen:operaciones' %}" class="module col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <h3>Almacen</h3>
            </a>
            <a href="{% url 'productos:index' %}" class="module col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                <h3>Productos</h3>
            </a>
            <a href="{% url 'usuarios:index' %}" class="module col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <h3>Trabajadores</h3>
            </a>

        </div>
    </div>

{% endblock %}

