{% extends 'base.html' %}

{% block content %}

    <div class="contenedor-modulos">
        <div class="row">
            <a href="#" class="module col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <h3>Almacen</h3>
            </a>
            <a href="#" class="module col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                <h3>Productos</h3>
            </a>
            <a href="{% url 'usuarios:index' %}" class="module col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <h3>Configuracion</h3>
            </a>

        </div>
    </div>

{% endblock %}

