{% extends 'base.html' %}

{%  block breadcrumb %}
     <ol class="breadcrumb">
        <li ><a href="{%  url 'almacen:index' %}">Inicio</a></li>
        <li class="active"><a href="{%   url 'almacen:operaciones' %}">Reporte</a></li>
        <li >Listar de Ingresos</li>
    </ol>
{% endblock %}


{% block content %}
        <div class=" contenedor-lista">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="">LISTADO DE GUIAS DE REMISIÓN</span>
                <a class ="pull-right btn btn-success" id="btnExport" type="button" >Exportar a Excel</a>
                <a class ="pull-right btn btn-danger  "
                   href="{% url 'almacen:operaciones' %}">Volver
                </a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                       <table class="table table-striped " id="reporte" cellspacing="0" width="100%">
            <thead align="center">
                    <th width="20%" align="center">Producto\Guia de Remisión </th>
                    {% for guia in guia_remision %}
                    <th align="center">
                        {{guia.nro_guia_remitente}}
                    </th>
                    {% endfor %}
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td  class="report-td">
                            {{ producto.descripcion }}
                        </td>
                        {% for ingreso in ingresos %}

                            {% for detalle in detalles %}

                                {% if detalle.codigo_producto.codigo == producto.codigo and detalle.id_ingreso.id == ingreso.id %}
                                    {% load tagvariable %}
                                    {% flag as flag %}
                                    <td class="report-td">{{ detalle.cantidad }} {{ detalle.unidad }}</td>
                                {% endif %}
                                {% if forloop.last and not flag %}
                                    <td class="report-td">--</td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
                </div>
            </div>
        </div>




    </div>

{% endblock %}
