{% extends 'base.html'%}

{% block content %}
<div class="contenedor-lista">
        <div class="table-responsive">
            <table class="table table-striped ">
            <thead>
                    <th>Vacio </th>
                    {% for guia in guia_remision %}
                    <th>
                        {{guia.nro_guia_remitente}}
                    </th>
                    {% endfor %}

            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>
                            {{ producto.descripcion }}
                        </td>
                        {% for ingreso in ingresos %}
                            {{flag = 0}}
                            {% for detalle in detalles %}
                                {{ if detalle.codigo_producto == producto.codigo }}

                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}

            </tbody>

            </table>
        </div>
</div>
{% endblock %}