{% extends 'base.html' %}

{%  block breadcrumb %}
     <ol class="breadcrumb">
        <li ><a href="{%  url 'almacen:index' %}">Inicio</a></li>
        <li class="active"><a href="{%   url 'usuarios:index' %}">Configuración</a></li>
        <li >Editar Trabajador</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

                <form  method="post">{% csrf_token %}
                    <div class="form-group ">
                        <div class="form-field col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
                            {{ form.username.errors }}
                            <label class="form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user"></span>
                                {{ form.username }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        {{ form.email.errors }}
                        <div class="form-field col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
                            <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon ">@</span>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        {{ form.first_name.errors }}
                        <div class="form-field col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
                            <label class="form-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user"></span>
                                {{ form.first_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="form-field col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
                            {{ form.last_name.errors }}
                            <label class="form-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user"></span>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="form-field col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
                            {{ form.dni.errors }}
                            <label class="form-label" for="{{ form.dni.id_for_label }}">{{ form.dni.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                                {{ form.dni }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="form-field col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
                            {{ form.cellphone.errors }}
                            <label class="form-label" for="{{ form.cellphone.id_for_label }}">{{ form.cellphone.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-phone"></span>
                                {{ form.cellphone }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-field col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
                            <div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-primary {% if form.is_active.value %} active {% endif %}">
                                {{ form.is_active }} {{ form.is_active.label }}
                              </label>
                              <label class="btn btn-warning {% if form.is_staff.value %} active {% endif %}">
                               {{ form.is_staff }} {{ form.is_staff.label }}
                              </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group action-buttons">
                        <div class="form-field col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
                            <input  class ="col-xs-12 col-sm-6 btn btn-success btn-lg" type="submit"
                                    value="Guardar Cambios" />
                            <a href="{% url 'usuarios:trabajadores_list' %}"
                               class ="col-sm-push-1 col-sm-5 col-xs-12 btn btn-danger btn-lg" >
                                Volver
                            </a>
                        </div>
                    </div>


                </form>
        </div>

    </div>

{% endblock %}
