{% extends 'base.html' %}

{%  block breadcrumb %}
     <ol class="breadcrumb">
        <li ><a href="{%  url 'almacen:index' %}">Inicio</a></li>
        <li class="active"><a href="{%   url 'almacen:operaciones' %}">Almacén</a></li>
        <li >Registrar Ingresos</li>
    </ol>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel form-panel panel-primary">
                <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active" ><a href="{% url 'almacen:ingresos' %}">Registro de Ingresos</a></li>
                    <li role="presentation" ><a href="{% url 'almacen:lista_ingresos' %}">Listado de Ingresos</a></li>
                </ul>
            </div>
            <div class="panel-body">

                    <form method="post" enctype="multipart/form-data">

                        <div id="form">
                            {% csrf_token %}

                            <div class="form-field form-subtitle col-sm-11">
                                <span>Datos de la guia de remision</span>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="no-padding-top form-field col-sm-11 ">
                                        {{ guiaremision_form.nro_guia_remitente.errors }}
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-barcode " ></span>
                                            {{ guiaremision_form.nro_guia_remitente}}
                                        </div>
                                     </div>
                                 </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="no-padding-top form-field col-sm-11 ">
                                        {{ guiaremision_form.licencia_conducir.errors }}
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-asterisk " ></span>
                                            {{ guiaremision_form.licencia_conducir}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="no-padding-top form-field col-sm-11 ">
                                        {{ guiaremision_form.punto_partida.errors }}
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-asterisk " ></span>
                                            {{ guiaremision_form.punto_partida}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                 <div class="form-group">
                                     <div class="no-padding-top form-field col-sm-11 ">
                                         {{ guiaremision_form.placa_vehiculo.errors }}
                                         <div class="input-group">
                                             <span class="input-group-addon glyphicon glyphicon-asterisk " ></span>
                                             {{ guiaremision_form.placa_vehiculo}}
                                         </div>
                                     </div>
                                 </div>
                             </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="no-padding-top  form-field col-sm-11">
                                        {{ guiaremision_form.fecha_traslado.errors }}
                                        <div class="input-group ">
                                            <span class="input-group-addon  ">Fecha</span>
                                            {{ guiaremision_form.fecha_traslado }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div class="no-padding-top  form-field col-sm-11">
                                        <div class="input-group ">
                                            {{ ingresos_form.almacen.errors }}
                                            <span class="input-group-addon glyphicon glyphicon-plus "></span>
                                            {{ ingresos_form.almacen     }}
                                        </div>
                                    </div>
                                </div>
                            </div>






                            <div class="form-field form-subtitle col-sm-11">
                                <span> Datos del Producto</span>
                            </div>


                            {% for form in formset %}

                                <div class="formset">

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group ">
                                            <div class="no-padding-top  form-field col-sm-11">
                                                {{ form.codigo_producto.errors }}
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-sort " ></span>
                                                    {{ form.codigo_producto}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group ">
                                            <div class="no-padding-top form-field col-sm-11 col-lg">
                                                {{ form.cantidad.errors }}
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-asterisk " ></span>
                                                    {{ form.cantidad}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xs-12 last-row-field">
                                        <div class="form-group">
                                            <div class="no-padding-top form-field col-sm-11">
                                                {{ form.estado.errors }}
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-asterisk " ></span>
                                                    {{ form.estado}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6 col-xs-12 last-row-field">
                                        <div class="form-group">
                                            <div class="no-padding-top form-field col-sm-11">
                                                {{ form.unidad_caja.errors }}
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-asterisk " ></span>
                                                    {{ form.unidad_caja}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                            <div class="submit-row  col-xs-12">
                                <input  class ="col-sm-offset-2 col-sm-4  col-xs-12 btn btn-success btn-lg" type="submit"
                                    value="Registrar Entrada" />
                                <a class ="col-sm-offset-1 col-sm-3  col-xs-12 btn btn-danger btn-lg"
                                   href="{% url 'almacen:operaciones' %}">
                                    Volver
                                </a>
                            </div>

                        </div>

                        {{ formset.management_form }}
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}