{% extends 'base.html' %}

{%  block breadcrumb %}
     <ol class="breadcrumb">
        <li ><a href="{%  url 'almacen:index' %}">Inicio</a></li>
        <li class="active"><a href="{%   url 'almacen:operaciones' %}">Almacén</a></li>
        <li >Registrar Entrada</li>
    </ol>
{% endblock %}


{% block content %}
    <div class="container contenedor-lista">
        <div class="row">
            <div class="panel form-panel panel-primary">
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data">
                        <div id="form">
                            {% csrf_token %}
                            {{ formset.management_form }}


                            {{ guiaremision_form.fecha_traslado }}


                            {{ingresos_form}}




                            {% for form in formset %}
                                <div class="formset">
                                    <div class=" col-sm-6 col-xs-12">
                                        <div class="form-group ">
                                            <div class="no-padding-top form-field col-sm-11">
                                                {{ form.serie.errors }}
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-asterisk " ></span>
                                                    {{ form.serie}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group ">
                                            <div class="no-padding-top form-field col-sm-11">
                                                {{ form.cantidad.errors }}
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-asterisk " ></span>
                                                    {{ form.cantidad}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-sm-6 col-xs-12">
                                        <div class="form-group ">
                                            <div class="no-padding-top form-field col-sm-11">
                                                {{ form.serie.errors }}
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-asterisk " ></span>
                                                    {{ form.unidad_caja}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group ">
                                            <div class="no-padding-top form-field col-sm-11">
                                                {{ form.cantidad.errors }}
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-asterisk " ></span>
                                                    {{ form.estado}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            {% endfor %}

                            <br/><br/><br/>
                            <div class="form-group">
                                <div class="form-field col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
                                    <input  class ="col-xs-12 btn btn-success btn-lg" type="submit" value="Registrar Producto" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}